<h2>ClockComponent</h2>

<div class="clock mb-5">
    <div class="hour-hand" style="transform: @hourRotation"></div>
    <div class="minute-hand" style="transform: @minuteRotation"></div>
    <div class="second-hand" style="transform: @secondRotation"></div>
</div>

@code {
    string hourRotation = string.Empty;
    string minuteRotation = string.Empty;
    string secondRotation = string.Empty;

    DateTime currentTime = DateTime.Now;

    private System.Timers.Timer timer;

    protected override void OnInitialized()
    {
        // Create a timer that refreshes every second
        base.OnInitialized();
        timer = new(1000);
        timer.Elapsed += (sender, eventArgs) => RefreshClock();
        timer.Start();
    }

    private void RefreshClock()
    {
        currentTime = DateTime.Now;
            
        this.hourRotation = $"rotate({30 * currentTime.Hour + currentTime.Minute / 2}deg)";
        this.minuteRotation = $"rotate({6 * currentTime.Minute}deg)";
        this.secondRotation = $"rotate({6 * currentTime.Second}deg)";
        // Console.WriteLine(secondRotation);
        // Notify the component to re-render
        InvokeAsync(StateHasChanged);

    }

}