@inject IRecordService RecordService

<h2 class="mb-5">Record your work schedule for today!</h2>

<EditForm Model="recordData" OnValidSubmit="HandleRecordPost">
    <DataAnnotationsValidator/>
    <div class="mb-3 center">
        <h5>AM work start time:</h5>
        <input type="time" class="input_right" id="WorkStartTimeMorning" @bind="recordData.WorkStartTimeMorning"></input>
        <h5>AM work end time:</h5>
        <input type="time" id="WorkEndTimeMorning" style="margin-left:3px" @bind="recordData.WorkEndTimeMorning"></input>
        
        
    </div>
    <div class="mb-3 center">
        <h5>PM work start time:</h5>
        <input type="time" class="input_right" id="WorkStartTimeAfternoon" @bind="recordData.WorkStartTimeAfternoon"></input>
        <h5>PM work end time:</h5>
        <input type="time" id="WorkEndTimeAfternoon" style="margin-left:8px" @bind="recordData.WorkEndTimeAfternoon"></input>
    </div>
    <button type="submit" class="btn btn-primary mb-3 button_submit">submit</button>
    <div class="@messageCssClass"><span>@message</span></div>
    <ValidationSummary/>

</EditForm>


@code {
    RecordData recordData = new RecordData();
    String message = String.Empty;
    String messageCssClass = String.Empty;

    async Task HandleRecordPost()
    {
        recordData.Date = DateTime.Now;
        var result = await RecordService.PostRecords(recordData);
        message = result.Message;
        if (result.Success)
        {
            messageCssClass = "text-success";
        }
        else
        {
            messageCssClass = "text-danger";
        }
    }
}
