.media-body {
    border-radius: 6px;
    background-color: #313338;
    padding: 15px 25px 15px 25px;
    /*border-bottom: 5px solid red;*/
}

div, h4 > span{
    color: white;
}


.media-img-wrapper {
    width: 200px;
    text-align: center;
}

.price{
    color: green;
}

@media (max-width: 1023.98px) {
    .media{
        flex-direction: column;
    }

    .media-img-wrapper{
        width: 100%;
        height: auto;
    }

    .media-body {
        width: 100%;
        height: auto;
    }
}

.btn-Delete {
    background: #90CBFB;
    color: aliceblue;
    margin-top: 5px;
    /*float: right;*/
}

.alert_btn {
    text-align:right;
}